<div class="pagina-categoria">
    {% for categoria, datos in agrupado.items() %}

        <div class="categoria-portada" id="{{ datos.id }}" style="background-image: url('imagenes/fondo_categoria.jpg');">
            <div class="categoria-portada-overlay">
                <h1>{{ categoria }}</h1>
            </div>
        </div>

        <div class="header-repite">
            <div class="header-logo-container">
                <img src="{{ logo }}" class="header-logo">
            </div>
            <div class="header-categoria-nombre">
                {{ categoria }}
            </div>
            <div class="header-contacto">
                <strong>{{ instagram }}</strong><br>
                {{ telefono }}<br>
                {{ direccion }}
            </div>
        </div>

        <div class="grilla">
        {% for p in datos.productos %}
            {% include 'item.html' %}

            {% if loop.index % items_per_page == 0 and not loop.last %}
                </div>
                <div class="grilla" style="page-break-before: always; margin-top: 30px;">
            {% endif %}
        {% endfor %}
        </div>

    {% endfor %}
</div>